<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TUNR</title>
  </head>
  <body>
    <h1>! TUNR ยก</h1>
    <a href= "/artists/index">Artists </a>
    ||
    <a href="/songs/index"> Songs</a>
  </body>
</html>
