<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
<h1> Tun.r </h1>
<hr>
<button class ="headerbutton"><a href="/songs">Songs</a></button>
<button class ="headerbutton"><a href="/artists"> Artists </a></button>
<button class ="headerbutton"><a href="/playlists"> Playlist</a> </button>
</header>
<main>

</main>

</body>
<%=yield %>
</html>
