<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Zaneh hahah</h1>
  <a href="/artists">All Artists</a>
    <p></p>
  <%= yield %>
</body>
</html>
