<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Title</h1>
  <h2><a href="/artists">All Artist</a></h2>
  <p></p>
  <%= yield %>
</body>
</html>
