<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <h1>TUNR ~ Music of the Future</h1>
  <a href="/artists">All Artists</a>
  <a href="/artists/new">Create a New Artist</a>
    <p></p>
  <%= yield %>
</body>
</html>
