<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>songs</title>
</head>
<body>
  <h1>Songs</h1>

  <% @songs.each do |song| %>
    <p>
      <a href='/songs/<%=song.id%>'><%= song.title %></a> |
      <%=song.artist.name %>
    </p>
  <% end %>
</body>
</html>
