<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>HERE ARE YOUR SONGS!</h1>
  <% @songs.each do |song| %>
  <p class="title_of_songs">
    <%= song.title %> <audio src="<%=song.preview_url%>">
  </p>
  <% end %>
</body>
</html>
