<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Check out my tracks!!!</h1>
  <% @songs.each do |song| %>
  <p class="Song">
    <%= song.name %>
  </p>
  <% end %>
</body>
</html>
