<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Song</title>
  </head>
  <body>
<form action="/songs" method="post">
  Title:
  <input type='text' name="song[title]]">
  Album:
  <input type='text' name="song[album]]">
  Preview link:
  <input type='text' name="song[preview_url]]">
  Artist:
  <input type='text' name="song[artist_id]">
  <input type="submit">
  </body>
</html>
