<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title><% @song.title %> </title>
 </head>
 <body>
   <h1>Hello World - this is songs/show.erb</h1>
 <p>
   <!-- <img style="height: 300px" src=" <%= @artist.photo_url %>" alt="artist photo" >
   <a href class="artist">

   <%= @artist.name + " Nationality: " + @artist.nationality %>
 </a> -->
 <button><a href="/">     Back       </a></button>
 </p>

 </body>
</html>
