<h2>Edit Artist Info</h2>


<form action="/artists/<%= @artist.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="artist[name]">Name:</label>
  <input name="artist[name]" value="<%= @artist.name %>">
  <br/>
  <br/>
  <label for="artist[photo_url]">Photo url:</label>
  <input name="artist[photo_url]" value="<%= @artist.photo_url %>">
  <br/>
  <br/>
  <label for="artist[nationality]">Nationality:</label>
  <input name="artist[nationality]" value="<%= @artist.nationality %>">
  <br/>
  <br/>
  <input type="submit" value="Update">
</form>
