<!--Edit Form Part 2 -->
<form method="post" style="width:15vw;">
  <input name='artistName' value="<%= @artist[:name]%>">
  <input name='artistPhoto_url' value="<%= @artist[:photo_url]%>">
  <input name='artistNationality' value="<%= @artist[:nationality]%>">
  <input type="submit" value="Change Values Above and Submit">
</form>
