<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Peep my artists!!!</h1>
  <% @artists.each do |artist| %>
  <p class="Artist">
    <img style="height: 90px" src= "<%= artist.photo_url %>" >
    <%= artist.name + " Nationality: " + artist.nationality %>
      </p>
    <% end %>
    <!-- <a href="/artists/id"<%= artist.name %></a> -->

  </p>
  <% end %>
</body>
</html>
