<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artists</title>
</head>
<body>

  <% @artists.each do |artiste| %>
  <p>
    <!-- Move this property to stylesheet<% %> -->
    <img style = "height: 100px" src= "<%= artiste.photo_url %>"  >
    <a href="../../artists/<%= artiste.id %>" class="artists">
      <%= artiste.name + " Nationality: " + artiste.nationality %>
    </a>
  </p>
  <% end %>

</body>
</html>
