<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
   <h1>Hello</h1>
   <% @artists.each do |artist| %>

     <p class="artist">
       <a href="/artists/<%= artist.id %>" >
       <img style="height: 90px" src= "<%= artist.photo_url %>" alt="artist photo" >
       <%= artist.name + " Nationality: " + artist.nationality %>
        </a>
     </p>
   <% end %>
   <h2><a href="/artists/new">Add an artist!</a></h2>
   
 </body>
</html>
