<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TUN.R | ARTISTS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>ALL ARTISTS</h1>
<% @artists.each do |artist| %>
  <p class="artist">
    <a href='artists/<%=artist.id%>'><%= artist.name%></a>
  </p>
<% end %>


</body>
</html>
