<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <%= yield %> <!-- load whatever template was called here -->
  </body>
</html>
