<!-- form -->
New Instructor:

<form action="/instructors"> method="post">
  <input type="submit">
  First Name:
  <input type='text' name="first_name">
  Last Name:
  <input type='text' name="last_name">
  Age:
  <input type='text' name="age">
</form>
