<h2>Add An Artist</h2>

<form action="/artists" method="post" >
  <label>Name:</label>
  <input name="artist[name]">
  <br/>
  <br/>
  <label>Photo Url:</label>
  <input name="artist[photo_url]">
  <br/>
  <br/>
  <label>Nationality:</label>
  <input name="artist[nationality]">
  <br/>
  <br/>
  <input type="submit" value="Add Artist">
</form>
