<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CREATE NEW ARTIST</title>
</head>
<body>
<form action="/artists" method="post">
<p><label>Artist Name:</label>
<input type="text" name="artist[name]"></p>
<p><label>Photo Url:</label>
<input type="text" name="artist[photo_url]"></p>
<p><label>Nationality</label>
<input type="text" name="artist[nationality]"></p>
  <p><input type="submit" value="Create"></p>
</form>

</body>
</html>
