<h1>New Artist</h1>

<form action="/artists" method="post">
  Name:
  <input type="text" name="artist[name]">
  Nationality
  <input type="text" name="artist[nationality]">
  Photo URL:
  <input type="text" name="artist[photo_url]">
  <input type="submit">
</form>
