<h1>New Artist</h1>

<form action="/artists" method="post">
  Name:
  <input type="text" name="artist[name]">
  Nationality
  <input type="text" name="artist[nationality]">
  <input type="submit">
</form>
