New Artist

<form action="/artists" method="post">
  Name:
  <input type= "text" name= "artist[name]"><br>
  Nationality:
  <input type= "text" name= "artist[nationality]"><br>
  <input type="submit">
</form>
