<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TUN.R | CREATE ARTIST</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<form action="/artists" method="post">
<p><label>NAME  </label>
<input class="input" type="text" name="artist[name]"></p>
<p><label>PHOTO URL  </label>
<input class="input" type="text" name="artist[photo_url]"></p>
<p><label>NATIONALITY  </label>
<input class="input" type="text" name="artist[nationality]"></p>
  <p><input type="submit" value="CREATE"></p>
</form>

</body>
</html>
