<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title><% @artist.name %> </title>
 </head>
 <body>
 <p>
   <img style="height: 300px" src=" <%= @artist.photo_url %>" >
   <a href class="artist">
   <!-- to be fixed -->
   <%= @artist.name + " Nationality: " + @artist.nationality %>
   <a href='/artists/<%= @artist.id %>/edit'>Edit This artist</a>
 </a>
 <button><a href="/">Back</a></button>
 <button><a href="/">Edit</a></button>
 </p>

 </body>
</html>
