<h2><a href="/instructors">All instructors</a></h2>

<div class="artist">
    <p>
      Artist Name: <%= @artist.name %>
    </p>
    <p>
      Artist Age: <%= instructor.age %>
    </p>
    <%  %>
    <%= %>
    <% something + " name" %>
    
</div>
